<%= stylesheet_link_tag "styles.css" %>
<div class="container-fluid text-center">
  <br>
  <%= link_to root_path do %>
     <%= image_tag "http://res.cloudinary.com/teateearu/image/upload/c_scale,w_60/v1510507918/logopink_n6cbkf.png" %>
  <% end %>

  <h1><%= @artist.name %></h1>
  <br>
  <p><%= image_tag @artist.remote_image_url %></p>
  <br>

  <p><%= @artist.bio %></p>

  <div>
    <h2>Famous christmas songs: </h2>
    <br>
    <table id="listSongs" >
    <% @artist.songs.each do |song| %>
      <tr>"<%= song.title %>"</tr>
      <tr>Year of release: <%= song.year %></tr>
      <td><% button_tag "[Delete this song]", class: "btn btn-default", id: "deleteButton", onclick: "deleteSong(" + song.artist.id.to_s + ", " + song.id.to_s + ")" %></td>
      <br>
    <% end %>
  </table>
  </div>
  <br>
    <h4>Add Song: </h4>
  <div id="songForm">
      <%= render "songs/form" %>
  </div>

  <br>
  <%= link_to "[Delete this artist]", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
<br>
<p class="container-fluid text-center"><%= link_to "[All Artists]", root_path %></p>
