<h1><%= @artist.name %></h1>

<p>Alive: <%= @artist.alive %></p>

<div>
  <h2>Songs: </h2>
  <% @artist.songs.each do |song| %>
    <p>"<%= song.title %>"<p>
    <p>Year of release: <%= song.year %><p>
    <%= link_to "Delete this song", [song.artist, song], method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
</div>

<div>
  <h4>Add Song: </h4>
    <%= render "songs/form" %>
  </div>

<br>
<%= link_to "[Delete this artist]", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>
