<h1><%= @artist.name %></h1>

<p>Name: <%= @artist.name %></p>
<p>Alive: <%= @artist.alive %></p>

<h4>Photos</h4>
<% @artist.photos.each do |photo| %>
  <%= image_tag photo.image %>
<% end %>

<%= link_to "[Delete]", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>
