<%= form_for @song do |f| %>

  <ul>
    <% @song.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :year %>
  <%= f.number_field :year %>

  <%= f.submit (@song.new_record? ? "Create" : "Update") %>

<% end %>
