<%= stylesheet_link_tag "styles.css" %>

<%= form_for [@artist, @artist.songs.build] do |f| %>

  <p class="whitetext"><%= f.label :title %></p>
  <p class="blacktext"><%= f.text_field :title %></p>
  <p class="whitetext"><%= f.label :year %></p>
  <p class="blacktext"><%= f.number_field :year %></p>

  <%= f.submit%>

<% end %>
